.calc {
    color: rgb(15, 22, 231);
    background-color: rgb(6, 169, 52);
    width: 200px;
    height: 100px;
    font-size: 2rem;
}

.game {
    color: rgb(16, 17, 17);
    background-color: rgb(6, 169, 52);
    width: 200px;
    height: 100px;
    border-radius: 50%;
    font-size: 2rem;
}

div {
    display: flex;
    justify-content: center;
    margin-top: 300px;

}

body {
    background-color: #232323;
}
